.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background-color: white;
  padding: 2rem;
  width: 90%;
  max-width: 600px;
  border-radius: 12px;
  position: relative;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.closeButton {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 1.7rem;
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  transition: transform 0.2s ease, color 0.2s ease;
}
.closeButton:hover {
  transform: scale(1.2);
  color: var(--accent-color);
}

.profileImageWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.profileImage {
    width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid var(--primary-color);
  box-shadow: 0 0 12px var(--primary-color);
  background-color: white;
}

.fieldsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

.profileField {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.label {
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 0.2rem;
}

.value {
  color: #555;
}
.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
