/* src/pages/Clubs.module.css */
.container {
  padding: 2rem;
  margin: 0 auto;
  min-height: 85vh;
  background: linear-gradient(to bottom right, #f0f4ff, #e0ecff);
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 2rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}
